[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
appnope = {version = "*", platform_system = "== 'Darwin'"}
pyobjc-framework-avfoundation = {version = "*", platform_system = "== 'Darwin'"}
pyobjc-framework-coremediaio = {version = "*", platform_system = "== 'Darwin'"}
pyobjc-framework-coreaudio = {version = "*", platform_system = "== 'Darwin'"}
pyobjc-framework-cocoa = {version = "*", platform_system = "== 'Darwin'"}
plyer = {version = "*", platform_system = "== 'Windows'"}
jsonschema = "*"
PyQt5 = "*"
zeroconf = "*"

[dev-packages]
pyinstaller = "*"

[requires]
python_version = "3.9"
