[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

pyobjc-framework-avfoundation = {version = "*", platform_system = "== 'Darwin'"}
pyobjc-framework-coremediaio = {version = "*", platform_system = "== 'Darwin'"}
pyobjc-framework-coreaudio = {version = "*", platform_system = "== 'Darwin'"}
pyobjc-framework-cocoa = {version = "*", platform_system = "== 'Darwin'"}
win10toast = {version = "*", platform_system = "== 'Windows'"}
jsonschema = "*"
PyQt5 = "*"

[dev-packages]

[requires]
python_version = "3.9"
